
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0 20px;
  background-color: rgb(236, 234, 234);
}

h1 {
  margin-bottom: 15px;
  text-align: center;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

p {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

footer {
  font-size: 14px;
  text-align: center;
  padding : 10px;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 18px;
}

li {
  text-align: center;
  margin-bottom: 8px;
}

li::before {
  content: "• ";
}

header {
      background-color: rgb(248, 177, 189);
      color: rgb(0, 0, 0);
      padding: 50px;
      margin-left: -20px;
      margin-right: -20px;
    }

/* Todas as divs */
.box {
  width: 100%;
  min-height: 120px;
  padding: 25px;
  margin-bottom: 20px;

  border: 1px solid #ddd;
  border-radius: 12px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  transition: 0.3s;
}

.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.tamanho {
  font-size: 35px;
}


/* Cor */
.cor {
  background-color: rgb(248, 177, 189);
}

/* 📱 MOBILE */
.div1, .div2, .div3, .div4 {
  width: 100%;
}

/* 💻 DESKTOP */
@media (min-width: 768px) {

  .div1, .div2 {
    width: 48%;
    float: left;
  }

  .div1 {
    margin-right: 4%;
  }

  .div3 {
    clear: both;
    width: 100%;
  }

  .div4 {
    width: 100%;
  }
}